@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap'); /* font-family: 'Oxygen', sans-serif; */

html {
    font-family: sans-serif;
}

.hidden {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
}

.max-width {
    max-width: 1324px;
    margin: 0 auto;
}

.clearfix:after, .row:after {
    content: "";
    display: block;
    clear: both;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Oxygen', Arial;
}
/* formatação do header */
.icon-play {
    height: 5em;
    display: none;
}

.icon-play img {
    max-width: 100%;
    max-height: 100%;
}

.top-header {
    text-align: center;
}

.top-header-logo {
    margin: .5em;
}

.top-nav {
    background-color: #612674;
    text-align: center;
}

.top-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.top-nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 1em;
    display: block;
}

.top-nav a:hover {
    background-color: #7c3792;
}
/* formatação padrão dos botões */
.button {
    display: inline-block;
    padding: .9em 2.5em;
    background-color: #58c4c4;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.button:hover {
    background-color: #37a0a0;
}
/* formatação da primeira section */
.top-content {
    padding: 1em;
    text-align: center;
    background-color: #f6f6f6;
}

.top-content-title {
    color: #612674;
    font-size: 1.375em;
    margin: 1.375em;
}

.top-content-subtitle {
    color: #a87bb7;
    font-size: 1em;
    line-height: 1.5;
}
/* formatação da segunda section */
.middle-content {
    padding: 2em;
    background-color: #f6f6f6;
    text-align: center;
}
/* seleciona as span com a class que começa com "icon" */
.middle-content span[class^=icon] {
    font-size: 3.5em;
    color: #652e78;
}

.middle-content-title {
    font-size: 1.25em;
    color: #652e78;
    text-transform: uppercase;
}

.middle-content p {
    line-height: 1.5;
    color: #222;
}
/* formatação da terceira section */
.main-content {
    padding: 2em;
}

.main-content p {
    line-height: 1.2em;
}

.main-content-title {
    font-size: 1.25em;
    color: #652e78;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.main-content-article {
    margin-bottom: 3.5em;
}

.main-content-article .button {
    float: right;
}
/* formatação do footer */
.footer {
    background-color: #25303e;
    color: #83969f;
    text-align: center;
    padding-bottom: 1em;
}

.footer-menushare {
    background-color: #303d4c;
    padding: .5em;
}

.footer-menushare ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.footer-menushare li {
    display: inline-block;
    margin: .3em 1em 0 0;
}

.footer-menushare a {
    margin-top: 100px;
    font-size: 2em;
    color: #83969f;
    text-decoration: none;
}

.footer-menushare a:hover {
    color: #99b0ba;
}
/* responsividade */
@media screen and (min-width: 48.75em) {
    /* formatação do header */
    .top-header-logo {
        float: left;
    }

    .top-nav {
        background: transparent;
        float: right;
        margin-top: 30px;
    }
    
    .top-nav a {
        color: #713a84;
    }

    .top-nav a:hover {
        background-color: #e7d9fd;
    }

    .top-nav ul {
        margin: 0;
        padding: 0;
    }

    .top-nav li {
        display: inline-block;
    }
    /* formatação da primeira section */
    .icon-play {
        display: block;
    }

    .top-content {
        background: #521a66;
        color: #ffffff;
    }

    .top-content-title, .top-content-subtitle {
        color: white;
    }
    /* formatação da segunda section */
    .col-1-4 {
        width: 44%;
        margin: 3%;
        float: left;
    }
}

@media screen and (min-width: 62.5em) {
    /* formata a primeira section */
    .top-content {
        background:#521a66 url("../images/bg_topo_1198x670.jpg");
        background-position: center top;
        background-size: cover;
        height: 20em;
        padding-top: 10em;
    }
}

@media screen and (min-width: 84em) {
    /* formatação do header */
    .icon-play {
        height: 7em;
    }
    /* formatação da primeira section */
    .top-content {
        background-image: url("../images/bg_topo_1600x1374.jpg");
        background-size: cover;
        background-position: center top;
        padding: 15em 20em 10em;
    }
    /* formatação da segunda section */
    .col-1-4 {
        width: 23%;
        margin: 1%;
    }
    /* formatação da terceira section */
    .col-1-2 {
        width: 48%;
        margin: 1%;
        float: left;
    }
}